.containers {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
  border: 2px solid blue;
}
.containers h1 {
  color: blueviolet;
  font-size: 22px;
}

#units {
  position: relative;
  font-size: 15px;
  bottom: 20px;
}

#cloud-icn {
  font-size: 100px;
  display: block;
}
strong {
  font-size: 30px;
}

.day {
  line-height: 15px;
  width: 150px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

#temperature {
  font-size: 45px;
  font-weight: 400;
}
